<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
    
        <table>
           <tr>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
           </tr>
           <tr>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
           </tr>
           <tr>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
           </tr>
           <tr>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
           </tr>
           <tr>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
           </tr>
           <tr>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
           </tr>
           <tr>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
           </tr>
           <tr>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
            <td class="col2"></td>
            <td class="col1"></td>
           </tr>


        </table>
    
    
</body>
</html>