<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            width: 200px;
            height: 200px;
            background-color: blue;
            border: 1px solid black;
                    }
        .dis{
            display: flex;
           width: 800px;
           justify-content: space-between;
           background-color: white;
           border: 1px ;
           padding: 200px;
        }
        h1{
            text-align: center;

        }
    </style>

</head>
<body>
    
    <h1>Welcome!</h1>
    <div class="dis">
    <div></div>
    <div></div>
    <div></div>
    </div>
   



    
</body>
</html>